<nav class="absolute top-0 left-0 right-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20 items-center">
      <div class="flex items-center gap-4">
        <div
          class="w-14 h-14 bg-white rounded-lg flex items-center justify-center overflow-hidden shadow-md"
        >
          <img src="assets/logo.png" alt="Tênis Integrado" class="w-full h-full object-cover" />
        </div>
        <span class="text-white text-md md:text-2xl font-bold">Tênis Integrado</span>
      </div>

      <div class="flex items-center gap-4">
        <button
          class="text-white px-4 gap-2 py-2 rounded-full hover:bg-white/10 transition-colors flex items-center"
        >
          <span class="hidden md:block">{{ 'NAVIGATION.CONTACT_US' | translate }}</span> <i-lucide name="mail" class="w-5 h-5"></i-lucide>
        </button>

        <!-- Language Selector -->
        <div class="relative">
          <button
            (click)="toggleLanguageMenu()"
            class="text-white px-4 gap-2 py-2 rounded-full hover:bg-white/10 transition-colors flex items-center"
          >
            <img src="/assets/flags/{{ currentLang }}.svg" alt="{{ currentLang }}" class="w-4 h-4 rounded-full" />
            <i-lucide
              [name]="isLanguageMenuOpen ? 'chevron-up' : 'chevron-down'"
              class="w-4 h-4"
            ></i-lucide>
          </button>

          <!-- Language Dropdown -->
          <div
            *ngIf="isLanguageMenuOpen"
            class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
          >
            <div class="py-1">
              <button
                *ngFor="let lang of languages"
                (click)="changeLanguage(lang.code)"
                class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 flex items-center gap-2"
                [class.font-medium]="currentLang === lang.code"
              >
              <img src="/assets/flags/{{ lang.code }}.svg" alt="{{ lang.code }}" class="w-4 h-4 rounded-full" />
              <span>{{ lang.name }}</span>
              </button>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</nav>
